.ok{
  color:rgb(4, 8, 36);
  font-style:inherit;
  font-size:40px;
}
body{
  background-color:rgba(143,190, 219);
}
.bgf{
  background-color: rgb(143, 190, 219);
  margin-top: 30px;
}
.ab{
  height: fit-content;
  width: fit-content;
  margin-left:20%;
}
@media all and (max-width:420px)
{
  .card-img-top{
    height:210px;
    width:300px;
  }
  .ab{
    margin-left:2%;
  }
  .card-title{
    font-size:12px;
    margin-right: 24%;
  } .card-text{
    font-size:12px;
    margin-right: 24%;
  }
  .text-centre{
    font-size: 20px;
    font-weight: bold;
  }
  h2.hea{
    font-size: 30px;
  }
  .x{
    margin-right: 0%;
    margin-left: 9%;
  }
  
}
@media all and (max-width:520px)
{
  .card-img-top{
  
    height:310px;
    width:400px;
  }
  .ab{
    margin-left:2%;
  }
  .card-title{
    font-size:22px;
    margin-right: 20%;
    margin-left: 5%;
  } .card-text{
    font-size:12px;
    margin-right: 20%;
    margin-left: 5%;
  }
  .text-centre{
    font-size: 20px;
    font-weight: bold;
  }
  h2.hea{
    font-size: 30px;
  }
  .x{
    margin-right: 0%;
    margin-left:9%;
  } 
}
.l{
  margin-left: 10%;
}
.card-img-overlay{
  margin-left:21%;
  margin-right: auto;
}
.hea{
  font-size: 50px;
  font-weight: bold;
}

.a{
  margin-top: 30px;
  margin-bottom: 30px;
}

.box{
  background-color:rgba(39, 215, 224, 0.349);
  margin-top: 30px;
  margin-right:30%;
  margin-bottom:auto;
  margin-left:30%;
  font-size: large;
  font-weight: bold;
}
.onc{
  margin-top: 8%;
  font-size: 30px;
  font-weight: bold;
  margin-left:30%;
}
.try{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 40px;
  font: bolder;
}
.testimonial {
  background-color: rgba(207, 207, 207, 0.445);
  text-align: center;
  border-radius:16px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.person {
  border-style: dotted dotted dotted dotted;
  border-color: rgb(37, 37, 124);
  border-width: thick;
}
.profile img {
  width: 68px;
  height: 68px;
  border-radius: 50%
}
.rowPerson {
  padding-bottom: 53px
}
.bgfi{
  background-color: rgba(207, 207, 207, 0.445);
}


