.ok{
  color:rgb(4, 8, 36);
  font-style:inherit;
  font-size:40px;
}
body{
  background-color:rgba(143,190, 219);
}
.bgf{
  background-color: rgb(143, 190, 219);
  margin-top: 30px;
}
.ab{
  height: fit-content;
  width: fit-content;
  margin-left:20%;
}
@media all and (max-width:420px)
{
  .card-img-top{
    height:210px;
    width:300px;
  }
  .ab{
    margin-left:2%;
  }
  .card-title{
    font-size:12px;
    margin-right: 24%;
  } .card-text{
    font-size:12px;
    margin-right: 24%;
  }
  .text-centre{
    font-size: 20px;
    font-weight: bold;
  }
  h2.hea{
    font-size: 30px;
  }
  .x{
    margin-right:20%;
    margin-left: 5%;
  }
  
}
@media all and (max-width:520px)
{
  .card-img-top{
  
    height:310px;
    width:400px;
  }
  .ab{
    margin-left:2%;
  }
  .card-title{
    font-size:22px;
    margin-right: 20%;
    margin-left: 5%;
  } .card-text{
    font-size:12px;
    margin-right: 20%;
    margin-left: 5%;
  }
  .text-centre{
    font-size: 20px;
    font-weight: bold;
  }
  h2.hea{
    font-size: 30px;
  }
  .x{
    margin-right:20px;
    margin-left:10%;
  } 
  .l{
    margin-right:20%;
  }
}
.l{
  margin-left: 10%;
}
.card-img-overlay{
  margin-left:21%;
  margin-right: auto;
}
.hea{
  font-size: 50px;
  font-weight: bold;
}

.a{
  margin-top: 30px;
  margin-bottom: 30px;
}

.box{
  background-color:rgba(39, 215, 224, 0.349);
  margin-top: 30px;
  margin-right:30%;
  margin-bottom:auto;
  margin-left:30%;
  font-size: large;
  font-weight: bold;
}
.onc{
  margin-top: 8%;
  font-size: 30px;
  font-weight: bold;
  margin-left:30%;
}
.try{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 40px;
  font: bolder;
}
.testimonial {
  background-color: rgba(207, 207, 207, 0.445);
  text-align: center;
  border-radius:16px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.person {
  border-style: dotted dotted dotted dotted;
  border-color: rgb(37, 37, 124);
  border-width: thick;
}
.profile img {
  width: 68px;
  height: 68px;
  border-radius: 50%
}
.rowPerson {
  padding-bottom: 53px
}
.bgfi{
  background-color: rgba(207, 207, 207, 0.445);
}

/*footer starts*/
.isFooter{
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #fbfeffc5;
}


.leftRow{
  padding-left: 5rem;
}

.Image{
  width: 40%;
  padding-left: 10%;
}

.isRight{
  border-left: 3px solid #050211;
  padding-left: 10%;
}

.getIn{
  text-align: center;
}

.socialMedia{
  margin-bottom: 2rem;
}

.fa{
  padding-right: 10%;
}

.fa-telegram{
  padding-right: 9%;
}

.link{
  text-decoration: none;
  color: #120fe7;
}
.link:hover{
  color: #264653;
  text-decoration: none;

}

@media only screen and (max-width: 640px) {
  .second {
      border: none;
      border-top: 2px dotted lightgrey;
      margin-top: 25px
  }

  .third {
      border-top: 2px dotted lightgrey;
      margin-top: 25px
  }

  .icon {
      margin-top: 20px;
      top: 0
  }
}
@media only screen and (max-width: 480px) {

  .navbar-item{
      font-size: 1.2rem;
  }
  
  .collapse{
      padding-bottom: 2rem;
  }
  


  #home{
      height: 100vh;
  }

  #tagline{
      color: aliceblue;
      border-left: none;
      font-size: 2rem;
      padding-left: 2rem;
  }

  .programs{
      padding-left: 0;
      margin: 0;
  }

  .isFlex{
      display:flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
  }


  .getIn{
      padding-bottom: 10rem;
  }

  .leftRow{
      padding-left: 3rem;
      display: inline;
  }

  .link{
      font-size: 1rem;
  }

  .fa-telegram{
      padding-right: 7.4%;
  }

  .Image{
      width: 70%;
      height: 40%;
  }   

}

@media only screen and (min-width: 481px) and (max-width: 991px) {
  
  .navbar-item{
      font-size: 1.2rem;
  }
  
  .collapse{
      padding-bottom: 2rem;
  }

  #home{
      height: 100vh;
  }

  #tagline{
      color: aliceblue;
      border-left: none;
      font-size: 2rem;
      padding-left: 2rem;
  }

  .programs{
      padding-left: 0;
      margin: 0;
  }

  .isFlex{
      display:flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
  }

  /* .bottomBorder{
      display:flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
  } */

  .getIn{
      padding-bottom: 10rem;
  }

  .leftRow{
      padding-left: 5rem;
  }

  .link{
      font-size: 0.8rem;
  }

  .fa-telegram{
      padding-right: 7.4%;
  }
  #rakesh{
      display: none;
  }
  .Image{
      width: 60%;
      height: 40%;
  }
 

}
@media(max-width: 768px){
  .isRight{
      border-left: none;
  }
  /* .topBorder{
      border-top: 3px solid #e9ecef;
      padding-top: 7%;
  } */
  
  .bottomBorder{
      padding-bottom: 7%;
 
  }
  #rakesh{
      display: none;
  }
}


